
* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: hotpink;
}

label {
    display: block;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.aside {
    padding: 12px;
}

.preview {
    display: flex;
    padding: 12px;
}

typst-view {
    overflow-y: auto;
}

typst-view svg {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
