.theme-light,
.theme-dark .theme-inverted {
    --qs-action: blueviolet;
    --qs-action-bg: rgb(233, 216, 250);
    --qs-emphasis: crimson;
    --qs-emphasis-bg: #ffbfcc;

    --qs-fg-strong: #09090b;
    --qs-fg: #27272a;
    --qs-fg-soft: #52525b;

    --qs-bg-strong: #fafafa;
    --qs-bg: #e4e4e7;
    --qs-bg-soft: #d4d4d8;

    --qs-b-strong: #3f3f46;
    --qs-b-soft: #a1a1aa;
}

.theme-dark,
.theme-light .theme-inverted {
    --qs-action: blueviolet;
    --qs-action-bg: rgb(43, 1, 82);
    --qs-emphasis: crimson;
    --qs-emphasis-bg: #79031b;

    --qs-fg-strong: #fafafa;
    --qs-fg: #f4f4f5;
    --qs-fg-soft: #d4d4d8;

    --qs-bg-strong: #09090b;
    --qs-bg: #27272a;
    --qs-bg-soft: #3f3f46;

    --qs-b-strong: #d4d4d8;
    --qs-b-soft: #52525b;
}

.theme-light,
.theme-dark,
.theme-inverted {
    border-color: var(--qs-b-soft);
    background-color: var(--qs-bg-soft);
    color: var(--qs-fg);
}

.theme-dark svg,
.theme-light .theme-inverted svg {
    filter: invert(100%);
}


* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


label {
    display: block;
}

button {
    all: unset;
    height: 24px;
    display: flex;
    align-items: center;
    padding: 0px 2px;
    border: 1px solid var(--qs-action);
    border-radius: 2px;
    background-color: var(--qs-bg-strong);
    color: var(--qs-fg);
    cursor: pointer;
}
    button:hover {
        border-color: var(--qs-b-strong);
        background-color: var(--qs-emphasis-bg);
    }
    button:focus {
        outline: 2px solid var(--qs-b-strong);
    }
    button span {
        font-size: 1.4em;
    }

input {
    height: 24px;
    padding: 0px 4px;
    border: 1px solid var(--qs-action);
    border-radius: 2px;
    background-color: var(--qs-bg-strong);
    color: var(--qs-fg);
    font-family: "Roboto Condensed", Verdana;
    font-size: 12px;
}
    input:hover {
        border-color: var(--qs-b-strong);
    }
    input:focus {
        outline: 2px solid var(--qs-b-strong);
    }


qcp-app {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--qs-bg);
    font-family: "Roboto Condensed", Verdana;
    font-size: 12px;
}

qcp-app > .drawer > .hidden {
    display: none;
}

qcp-app > .appBar {
    width: 46px;
    border-right: 1px solid var(--qs-b-soft);
    display: flex;
    flex-direction: column;
    align-items: center;
}
    qcp-app > .appBar > qca-tabs > qca-tabs\.tab {
        margin: 2px 3px;
        padding: 6px 2px;
        display: flex;
        border-radius: 8px;
        justify-content: center;
        color: var(--qs-action);
        font-size: 1.8em;
    }
    qcp-app > .appBar > .separator {
        width: calc(100% - 16px);
        height: 1px;
        margin: 4px 0;
        background-color: var(--qs-b-soft);
    }

qcp-app > .drawer {
    width: 400px;
}
    qcp-app > .drawer.hidden {
        display: none;
    }
    qcp-app > .drawer > qca-router > qca-router\.page {
        overflow-y: auto;
    }
    qcp-app > .drawer > .separator {
        width: 100%;
    }

qcp-app > .separator,
qcp-app > .drawer > .separator {
    background-color: var(--qs-action);
    position: relative;
}
qcp-app > .separator {
    width: 1px;
    height: 100%;
}
qcp-app > .drawer > .separator {
    height: 1px;
    width: 100%;
}

qcp-app > .separator > .hover,
qcp-app > .drawer > .separator > .hover {
    position: absolute;
    content: "";
}
qcp-app > .separator > .hover {
    height: 100%;
    width: 6px;
    margin-left: -3px;
    cursor: ew-resize;
}
qcp-app > .drawer > .separator > .hover {
    width: 100%;
    height: 6px;
    margin-top: -3px;
    cursor: ns-resize;
}
    qcp-app > .separator > .hover:hover,
    qcp-app > .drawer > .separator > .hover:hover {
        background-color: var(--qs-action);
    }

qcp-app .panelHeader {
    padding: 8px 12px;
}
    qcp-app .panelHeader > h1 {
        font-size: 0.9em;
        text-transform: uppercase;
    }


qco-preview {
    display: block;
    padding: 8px 0;
}
    qco-preview > .page {
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        margin: 4px 8px;
        width: calc(100% - 16px);
    }

qca-ex-info {
    display: block;
    background-color: var(--qs-bg);
}
qca-ex-info .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 6px 12px;
    color: var(--qs-fg-strong);
    border-top: 3px solid var(--qs-b-soft);
    border-bottom: 1px solid var(--qs-b-soft);
}
    qca-ex-info .header .separator {
        font-weight: bold;
        margin: 0 4px;
    }
    qca-ex-info .header .space {
        flex-grow: 1;
    }
qca-ex-info .index {
    font-weight: bold;
    margin: 0 8px 0 0;
}
qca-ex-info .subject {
    font-weight: bold;
}
qca-ex-info .supportedLengths {
    margin: 0 6px;
}
qca-ex-info .supportedLevels {
    margin: 0 6px;
}
qca-ex-info .selectable {
    padding: 4px 4px;
    border-radius: 50%;
}
    qca-ex-info[isInteractive='true'] .selectable {
        color: var(--qs-action);
        cursor: pointer;
    }
    qca-ex-info .selectable.selected {
        outline: 2px solid var(--qs-emphasis);
        color: var(--qs-emphasis);
    }
qca-ex-info > .body {
    padding: 6px 6px 8px 6px;
}
qca-ex-info .name {
    font-size: 1.4em;
    color: var(--qs-fg-strong);
}
qca-ex-info .description {
    font-size: 0.9em;
    color: var(--qs-fg-soft);
    margin-bottom: 6px;
}
qca-ex-info .tags {
    display: flex;
    flex-wrap: wrap;
}
qca-ex-info .tag {
    margin-right: 3px;
    padding: 1px 3px;
    border: 1px solid var(--qs-b-soft);
    border-radius: 3px;
    font-size: 0.9em;
    color: var(--qs-fg-soft);
}


qca-switch {
    position: relative;
    display: inline-block;
    width: var(--qca-switch-width);
    height: var(--qca-switch-height);
}

qca-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

qca-switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--qs-bg-strong);
    border: 1px solid var(--qs-action);
    border-radius: 2px;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}
    qca-switch:hover .slider {
        border-color: var(--qs-b-strong);
        background-color: var(--qs-emphasis-bg);
    }
    qca-switch:has(input:focus) .slider {
        outline: 2px solid var(--qs-b-strong);
    }

qca-switch .slider .knob {
    position: absolute;
    content: "";
    height: calc(100% - 4px);
    aspect-ratio: 1;
    top: 2px;
    left: 2px;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    border-radius: 2px;
    background-color: var(--qs-bg-soft);
    color: var(--qs-fg-strong);
    font-size: 1.4em;
}

qca-switch input:checked + .slider .knob {
    transform: translateX(calc(var(--qca-switch-width) - var(--qca-switch-height)));
}


qca-input {
    width: 56px;
}
qca-input label {
    position: relative;
    display: flex;
}
qca-input input {
    width: 100%;
}
qca-input label.hasLeadingIcon input {
    padding-left: 26px;
}
qca-input label.hasTrailingIcon input {
    padding-right: 26px;
}

qca-input .icon {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    font-size: 1.4em;
}
qca-input .leadingIcon {
    left: 6px;
}
qca-input .trailingIcon {
    right: 6px;
}


qca-list {
    display: block;
    border: 1px solid var(--qs-action);
    border-radius: 2px;
    background-color: var(--qs-bg-strong);
}

qca-list qca-list\.item {
    display: flex;
    height: 24px;
    align-items: center;
    padding: 0px 4px;
    cursor: pointer;
}
    qca-list qca-list\.item:hover {
        background-color: var(--qs-action-bg);
    }
    qca-list qca-list\.item.selected {
        background-color: var(--qs-emphasis-bg);
    }


qca-tabs {
    display: block;
    width: 40px;
}

qca-tabs > qca-tabs\.tab {
    display: block;
    display: flex;
    align-items: center;
    padding: 0px 4px;
    cursor: pointer;
}
    qca-tabs > qca-tabs\.tab:hover {
        background-color: var(--qs-action-bg);
    }
    qca-tabs > qca-tabs\.tab.selected {
        background-color: var(--qs-emphasis-bg);
    }
    /*
    qca-tabs[orientation='horizontal'] qca-tabs\.tab.selected {
        border-bottom: 2px solid var(--qs-emphasis);
    }
    qca-tabs[orientation='vertical'] qca-tabs\.tab.selected {
        border-right: 2px solid var(--qs-emphasis);
    }
    */

qca-router > qca-router\.page.hidden {
    display: none;
}


qca-popover {
    display: block;
    position: relative;
}

qca-popover:has(qca-popover\.body[open])::before {
    position: fixed;
    background-color: #00000024;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

qca-popover > qca-popover\.anchor {
}

qca-popover > qca-popover\.body {
    z-index: 999;
    display: none;
    position: absolute;
    left: 0;
    min-width: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
    qca-popover > qca-popover\.body[open] {
        display: block;
    }


qca-select {
    display: block;
    position: relative;
}

qca-select:has(.body[open])::before {
    position: fixed;
    background-color: #00000024;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

qca-select > .anchor {
}

qca-select > .body {
    z-index: 999;
    display: none;
    position: absolute;
    left: 0;
    min-width: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: 1px solid var(--qs-action);
    border-radius: 2px;
    background-color: var(--qs-bg-strong);
}
    qca-select > .body[open] {
        display: block;
    }

    qca-select > .body > qca-select\.item {
        display: flex;
        height: 24px;
        align-items: center;
        padding: 0px 4px;
        cursor: pointer;
    }
        qca-select > .body > qca-select\.item:hover {
            background-color: var(--qs-action-bg);
        }
        qca-select > .body > qca-select\.item.selected {
            background-color: var(--qs-emphasis-bg);
        }
