
* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: #f4f4f5;
    font-family: "Roboto Condensed", Verdana;
    font-size: 12px;
}

label {
    display: block;
}

qcp-app {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
    qcp-app > .panel {
        overflow-y: auto;
    }

qcp-app > .separator {
    width: 6px;
    background-color: #aaa;
    cursor: ew-resize;
}
    .separator:hover {
        background-color: #fff6;
    }

qco-preview {
    display: block;
    padding: 8px 0;
}
    qco-preview > .page {
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        margin: 4px 8px;
        width: calc(100% - 16px);
    }

qca-ex-info .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #222;
    color: white;
    padding: 6px 12px;
}
    qca-ex-info .header .separator {
        font-weight: bold;
        margin: 0 4px;
    }
    qca-ex-info .header .space {
        flex-grow: 1;
    }
qca-ex-info .index {
    font-weight: bold;
    margin: 0 8px 0 0;
}
qca-ex-info .subject {
    font-weight: bold;
}
qca-ex-info .supportedLengths {
    margin: 0 6px;
}
qca-ex-info .supportedLevels {
    margin: 0 6px;
}
qca-ex-info .selectable {
    padding: 3px 3px;
    border-radius: 50%;
}
    qca-ex-info .selectable.selected {
        outline: 2px solid crimson;
    }
qca-ex-info > .body {
    padding: 6px 6px 8px 6px;
    background-color: white;
}
qca-ex-info .name {
    font-size: 1.4em;
}
qca-ex-info .description {
    font-size: 0.9em;
    color: #666;
    margin-bottom: 6px;
}
qca-ex-info .tags {
    display: flex;
    flex-wrap: wrap;
}
qca-ex-info .tag {
    margin-right: 3px;
    padding: 1px 3px;
    border: 1px solid #666;
    border-radius: 3px;
    font-size: 0.9em;
    color: #666;
}
